---
import { SITE_AUTHOR } from '@constants';

const today = new Date();
---

<footer class="py-8 px-4 pb-24 text-xs text-center text-gray-600">
  &copy; {today.getFullYear()}
  {SITE_AUTHOR}
  <div class="social-links flex justify-center gap-4 mt-4"></div>
</footer>
