---
import MainLayout from '@layouts/page.astro';
---

<MainLayout>
  <h1 class="text-3xl font-bold mb-6">Yeoford Hall Calendar</h1>

  <p>
    Since opening in March the hall is being used by more and more people, and
    we now have regular fitness and pilates to add to the regular daytime
    groups. The hall offers a smaller meeting room in addition to the main
    space, a fully equipped kitchen, home and away changing rooms, toilet
    facilities and a car park.
  </p>

  <div class="w-full aspect-[4/3] md:aspect-[16/9]">
    <iframe
      src="https://www.google.com/calendar/embed?title=Yeoford%20Hall&showTz=0&height=600&wkst=2&bgcolor=%23FFFFFF&src=yeoford.hall@gmail.com&color=%2329527A&ctz=Europe%2FLondon"
      style="border: 0"
      width="100%"
      height="100%"
      frameborder="0"
      scrolling="no"
      title="Yeoford Hall Calendar"></iframe>
  </div>

  <h2 class="text-2xl font-bold mb-6 mt-12">Booking the hall</h2>

  <p>
    To book the hall, please contact the hall manager, <a
      class="text-blue-500 underline"
      href="mailto:yeoford.hall@gmail.com">yeoford.hall@gmail.com</a
    >.
  </p>

  <table class="w-3/4 border-collapse my-8">
    <tbody>
      <tr>
        <th
          colspan="5"
          class="bg-blue-100 text-xl font-bold p-4 border border-gray-300"
          >Community Hall charges</th
        >
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300"></th>
        <th class="bg-gray-50 p-3 border border-gray-300"
          >Trustee User Groups</th
        >
        <th class="bg-gray-50 p-3 border border-gray-300"
          >Local community groups</th
        >
        <th class="bg-gray-50 p-3 border border-gray-300"
          >Private bookings (local)</th
        >
        <th class="bg-gray-50 p-3 border border-gray-300"
          >Private bookings (Non-local)</th
        >
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300 text-left"
          >Main Hall (includes kitchen)</th
        >
        <td class="p-3 border border-gray-300 text-center">£3.00</td>
        <td class="p-3 border border-gray-300 text-center">£5.00</td>
        <td class="p-3 border border-gray-300 text-center">£8.00</td>
        <td class="p-3 border border-gray-300 text-center">£10.00</td>
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300 text-left"
          >Meeting Room (includes kitchen)</th
        >
        <td class="p-3 border border-gray-300 text-center">£2.00</td>
        <td class="p-3 border border-gray-300 text-center">£3.00</td>
        <td class="p-3 border border-gray-300 text-center">£3.50</td>
        <td class="p-3 border border-gray-300 text-center">£5.50</td>
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300 text-left"
          >Party/wedding (24hr hire)</th
        >
        <td class="p-3 border border-gray-300 text-center"> - </td>
        <td class="p-3 border border-gray-300 text-center"> - </td>
        <td class="p-3 border border-gray-300 text-center">£150</td>
        <td class="p-3 border border-gray-300 text-center">£250</td>
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300 text-left"
          >Party/wedding (48hr hire)</th
        >
        <td class="p-3 border border-gray-300 text-center"> - </td>
        <td class="p-3 border border-gray-300 text-center"> - </td>
        <td class="p-3 border border-gray-300 text-center">£400</td>
        <td class="p-3 border border-gray-300 text-center">£500</td>
      </tr>
      <tr>
        <th class="bg-gray-50 p-3 border border-gray-300 text-left"
          >Changing rooms</th
        >
        <td colspan="4" class="p-3 border border-gray-300 text-center"
          >Free of charge with the booking of the playing field, but by
          arrangement for any other time</td
        >
      </tr>
    </tbody>
  </table>
</MainLayout>

<style>
  .container {
    max-width: 1200px;
  }
</style>
