---
import Layout from '../layout/main.astro';

import Countryside from '@images/countryside.jpg';
---

<Layout>
  <div class="relative min-h-[calc(100vh-4rem)]">
    <div class="absolute inset-0 bg-black/50 z-10"></div>
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat"
      style={`background-image: url(${Countryside.src});`}>
    </div>
    <div class="relative z-20 h-[100vh] flex items-center justify-center">
      <h1 class="text-4xl font-bold text-white">Yeoford Village</h1>
    </div>
  </div>
</Layout>
