---
import { PdfViewer } from '@components/pdf-viewer';
import { getPublishedNewsletters, sortEntriesByDate } from '@helpers/astro';
import Layout from '@layouts/page.astro';

const newsletters = await getPublishedNewsletters();
const sortedNewsletters = sortEntriesByDate(newsletters);

const newsletter = sortedNewsletters[0];
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">
      Village Voice {newsletter.data.issueNumber} -
      {
        newsletter.data.date.toLocaleString('en-GB', {
          month: 'long',
          year: 'numeric'
        })
      }
    </h1>
    <div class="flex flex-col gap-4 h-screen">
      <PdfViewer path={newsletter.data.path} client:only="react" />
    </div>
  </div>
</Layout>
