---
import { getPublishedNewsletters, sortEntriesByDate } from '@helpers/astro';

const newsletters = await getPublishedNewsletters();

const sortedNewsletters = sortEntriesByDate(newsletters);

export const getStaticPaths = async () => {
  const newsletters = await getPublishedNewsletters();

  return newsletters.map((newsletter) => ({
    params: { slug: newsletter.data.slug },
    props: newsletter,
  }));
};

import Layout from '@layouts/main.astro';
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6">Newsletter</h1>
  </div>
</Layout>
