---
import BaseHead from '@components/layout/base-head.astro';
import Footer from '@components/layout/footer.astro';
import Header from '@components/layout/header.astro';
import ThemeInit from '@components/theme/theme-init.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@constants';

import Tracker from '@components/layout/tracker.astro';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col bg-emerald-500">
    <main class="flex-grow">
      <slot />
    </main>
  </body><Tracker />
</html>
